<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin-signup" method="post">
        <input type="text" placeholder="Username" required name="admin_name">
        <input type="email" placeholder="email" required name="admin_email">
        <input type="password" placeholder="password" required name="admin_password">
        <input type="submit">
    </form>
</body>
</html>